// Colors

$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);

$verypaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

// Font weights

$regular: 500;
$semiBold: 700;
$bold: 900;

// mq

$mq: (
  mobile: 550px,
  desktop: 1440px,
);
